{% import 'bootstrap/wtf.html' as wtf %}

{% extends 'base.html' %}

{% block app_content %}
<div class="row">
  <div class="col-md-4">
<div class="card">
  <img src="http://placehold.it/250x250" alt="Placehold" class="card-img">
  <div class="card-title">
  Max Smith
  </div> <!-- ends card title -->
  <div class="card-subtitle">
  @maxsmith
  </div> <!-- ends card subtitle -->
  <div class="card-text">
  <p>This is a biography.</p>
  </div> <!-- ends card text -->
  <button class="btn btn-primary">
    Follow
  </button>
</div> <!-- ends card -->
  </div> <!-- ends col 4 -->
  <div class="col-md-8">
    <div class="card">
      {{wtf.quick_form(form)}}
    </div>
      {% for post in posts[::-1]%}
    <div class="card small-margin">
      <img src="http://placehold.it/25x25" alt="Profile Pic" class="post-img">
      <div class="card-title tweet">{{ post.tweet }}</div>
      <div class="card-subtitle date">{{ posts.date_posted }}</div>
      <div class="card-subtitle handle">@maxsmith</div>
    </div>
      {% endfor %}

  </div> <!-- ends col 8 -->
</div> <!-- ends row -->
{% endblock %}
